In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import matplotlib.pyplot as ply
import tweepy

import nltk

In [9]:
df=pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [12]:
df.shape

(1599999, 6)

In [13]:
df.size

9599994

In [14]:
df.columns

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

In [15]:
df.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [16]:
df.isnull().sum()

0                                                                                                                      0
1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
dtype: int64

In [18]:
test = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')
train = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')
print('Train columns:', train.columns.tolist())
print('Test columns:', test.columns.tolist())

Train columns: ['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY', '_TheSpecialOne_', "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"]
Test columns: ['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY', '_TheSpecialOne_', "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"]

In [41]:
# Take the very first text entry of the dataframe
sample = df.iloc[0]
df

                                               tweet  subjectivity  polarity
0     my whole body feels itchy and like its on fire      0.400000  0.200000
1  @switchfoot http://twitpic.com/2y1zl - Awww, t...      0.633333  0.216667

In [45]:
import nltk
nltk.download('punkt')

from nltk import word_tokenize

# Tokenize the sample
sample = "my whole body feels itchy and like its on fire"
sample_tokens = word_tokenize(sample)
sample_tokens

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['my', 'whole', 'body', 'feels', 'itchy', 'and', 'like', 'its', 'on', 'fire']

In [34]:
!pip install textBlob
from textblob import TextBlob

Requirement already satisfied: textBlob in c:\users\hp\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\hp\anaconda3\lib\site-packages (from textBlob) (3.7)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from nltk>=3.1->textBlob) (8.0.4)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from nltk>=3.1->textBlob) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\anaconda3\lib\site-packages (from nltk>=3.1->textBlob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\hp\anaconda3\lib\site-packages (from nltk>=3.1->textBlob) (1.1.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->nltk>=3.1->textBlob) (0.4.4)

In [35]:
def getTextSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

In [36]:

def getTextPolarity(text):
    return TextBlob(text).sentiment.polarity

In [39]:
data = {'tweet': ['my whole body feels itchy and like its on fire','@switchfoot http://twitpic.com/2y1zl - Awww, that\'s a bummer.  You shoulda got David Carr of Third Day to do it. ;D']}
df = pd.DataFrame(data)

df['subjectivity'] = df['tweet'].apply(getTextSubjectivity)
df['polarity'] = df['tweet'].apply(getTextPolarity)

In [40]:
df

                                               tweet  subjectivity  polarity
0     my whole body feels itchy and like its on fire      0.400000  0.200000
1  @switchfoot http://twitpic.com/2y1zl - Awww, t...      0.633333  0.216667

In [103]:
def applyGetTextAnalysis(text):
    blob = TextBlob(text)
    sentiment_polarity = blob.sentiment.polarity
    if sentiment_polarity > 0:
        return "positive"
    elif sentiment_polarity < 0:
        return "negative"
    else:
        return "neutral"

In [110]:
 df['polarity'] = df['polarity'].astype(str)
df['score'] = df['polarity'].apply(applyGetTextAnalysis)

In [111]:
df

,tweet,subjectivity,polarity,score
0,my whole body feels itchy and like its on fire,0.400000,0.2,neutral
1,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0.633333,0.21666666666666667,neutral

In [112]:
from textblob import TextBlob

def applyGetTextAnalysis(text):
    blob = TextBlob(text)
    sentiment_polarity = blob.sentiment.polaritydf['score'] = df['polarity'].apply(applyGetTextAnalysis)
positive = df[df['score'] == 'positive']
print(str(positive.shape[0]/(df.shape[0])*100)+"% of positive tweets")

0.0% of positive tweets

In [113]:
from textblob import TextBlob

def applyGetTextAnalysis(text):
    blob = TextBlob(text)
    sentiment_polarity = blob.sentiment.polaritydf['score'] = df['polarity'].apply(applyGetTextAnalysis)
negative = df[df['score'] == 'negative']
print(str(negative.shape[0]/(df.shape[0])*100)+"% of negative tweets")

0.0% of negative tweets

In [121]:
from textblob import TextBlob

def applyGetTextAnalysis(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

df['score'] = df['polarity'].apply(applyGetTextAnalysis)
neutral = df[df['score'] == 0]
print(str(neutral.shape[0]/(df.shape[0])*100) + "% of neutral tweets")

100.0% of neutral tweets